/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
}

body {
    height: 100vh;
    color: #a3a3a3;
    font-family: "Poppins", sans-serif;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.app-wrapper {
    display: flex;
    height: calc(100% - 100px);
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/*----------------
    HEADER
------------------*/
header {
    width: 50px;
    flex-shrink: 1;
    background-color: black;
    display: flex;
    flex-direction: column;
    color: #a3a3a3;
}

.hidden-mobile {
    display: none;
}

.show-mobile {
    display: block;
}

.main-nav {
    margin-top: 30px;
}

.main-nav ul {
    list-style: none;
}

.nav-white {
    color: white;
}

.main-nav li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-nav li img {
    height: 26px;
}

.playlist {
    flex-grow: 1;
    min-height: 200px;
    overflow-y: auto;
    margin-top: 30px;
}

.playlist-title {
    margin-bottom: 15px;
}

.playlist-list {
    font-size: 14px;
}

.btn-plus {
    width: 35px;
    height: 35px;
    border: none;
    font-size: 32px;
    background-color: #a3a3a3;
    color: black;
}

.btn-arrow {
    width: 20px;
    height: 20px;
    border-radius: 90%;
    display: flex;
    justify-content: center;
    border: 1px solid #a3a3a3;
    background-color: transparent;
}

.fa-arrow-down-long {
    color: #a3a3a3;
}

.user {
    min-height: 100px;
    padding-left: 15px;
}

.user i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user p:not(:last-child) {
    color: #a3a3a3;
    position: relative;
    bottom: 18px;
    left: 30px;
}

.user-white {
    color: white;
    position: relative;
    bottom: 18px;
    left: 30px;
}

.btn-user {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 90%;
    font-size: 18px;
    background-color: #a3a3a3;
    color: white;
    margin-top: 10px;
}

/*----------------
    MAIN
------------------*/

main {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #141922;
}

.main-top {
    background-color: #080b12;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.btn-upgrade {
    background-color: transparent;
    color: white;
    border-radius: 30px;
    border: 1px solid white;
    padding: 10px 30px; 
    font-size: 14px; 
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}
/*-------------
    SECTION
--------------*/
.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 12px;
    margin-top: 15px;
}

.search p {
    cursor: pointer;
    color: #a3a3a3;
}

.recent {
    padding: 15px;
    margin-top: 15px;
}

.recent h2 {
    color: white;
}

.albums {
    display: flex;  
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
}

.square {
    position: relative;
}

.square-item {
    font-size: 14px;
    width: calc(100% / 2);
    height: auto;
    padding: 5px;
}

.description {
    text-align: center;
}

.square-item h3 {
    color: white;
    margin-top: 10px;
    font-size: 14px;
}

.square-item p {
    font-size: 12px;
}

.suggests {
    padding: 15px;
    margin-top: 15px;
}

.suggests h2 {
    color: white;
}

.suggests p {
    color: #a3a3a3;
    font-size: 12px;
}

.artists {
    padding: 15px;
    margin-top: 15px;
}

.artists h2 {
    color: white;
}

.artists p {
    color: #a3a3a3;
    font-size: 12px;
}

.circle-item {
    margin-top: 20px;
    font-size: 14px;
    height: auto;
    padding: 5px;
}

.circle {
    border-radius: 50%;
}

.circle-item h3 {
    color: white;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

.artist-profile {
    display: flex;  
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
}

.img-fluid-circle {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

/*----------------
    FOOTER
------------------*/
footer {
    height: 100px;
    background-color: chartreuse;
    position: sticky;
    z-index: 10;
}


/*----------------
    RESPONSIVE
    Mobile First
------------------*/
/* SM >= 576px */
@media screen and (min-width: 576px) {
    header {
        width: 240px;
        padding-left: 15px;
    }
    .logo {
        padding: 10px;
    }
    .hidden-mobile {
        display: block;
    }
    .show-mobile {
        display: none;
    }
    .main-nav li {
        justify-content: flex-start;
    }
    .user i {
        justify-content: center;
    }
    .user {
        padding-left: 1px;
    }
    .search {
        flex-wrap: wrap;
    }
}
/* MD >= 768px */
@media screen and (min-width: 768px) {
    .square-item{
        width: calc(100% / 4);
    }
}
/* LG >= 992px */
@media screen and (min-width: 992px) {
    .square-item{
        width: calc(100% / 6);
    }
}
/* XL >= 1200px */
@media screen and (min-width: 1200px) {
    
}